<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>迪丽热巴</string>
		<key>icon</key>
		<string>dilireba</string>
		<key>title</key>
		<string>异域美人</string>
		<key>options</key>
		<array>
			<string>我</string>
			<string>是</string>
			<string>中</string>
			<string>过</string>
			<string>迪</string>
			<string>人</string>
			<string>热</string>
			<string>好</string>
			<string>郭</string>
			<string>宇</string>
			<string>蔡</string>
			<string>明</string>
			<string>杨</string>
			<string>艾</string>
			<string>小</string>
			<string>丽</string>
			<string>敬</string>
			<string>范</string>
			<string>伦</string>
			<string>建</string>
			<string>苟</string>
			<string>巴</string>
			<string>聪</string>
			<string>斯</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杨颖</string>
		<key>icon</key>
		<string>yangying</string>
		<key>title</key>
		<string>清新丽人</string>
		<key>options</key>
		<array>
			<string>颖</string>
			<string>苟</string>
			<string>聪</string>
			<string>苟</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>杨</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
			<string>聪</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>唐嫣</string>
		<key>icon</key>
		<string>tangyan</string>
		<key>title</key>
		<string>古装美人</string>
		<key>options</key>
		<array>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>唐</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>嫣</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>明</string>
			<string>高</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杨阳洋</string>
		<key>icon</key>
		<string>yangyang</string>
		<key>title</key>
		<string>花样美男</string>
		<key>options</key>
		<array>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>杨</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>阳</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>洋</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>鹿晗</string>
		<key>icon</key>
		<string>luhan</string>
		<key>title</key>
		<string>不像爷们</string>
		<key>options</key>
		<array>
			<string>赵</string>
			<string>高</string>
			<string>高</string>
			<string>晗</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>鹿</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
			<string>高</string>
		</array>
	</dict>
</array>
</plist>
