<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>天天爱消除</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天天富翁</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>美团</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>少年三国志</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>开心消消乐</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>为定义应用</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天天爱消除</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天天爱消除</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天天爱消除</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天天爱消除</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天天爱消除</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>天天爱消除</string>
		<key>picName</key>
		<string>icon1</string>
	</dict>
</array>
</plist>
